body {
  font-family: Roboto, sans-serif;
  color: #434455;
  font-size: 16px;
  background-color: #ffffff;
}
header {
  background-color: #ffffff;
}
.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.studio {
  color: #2e2f42;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.studio2 {
  color: #f4f4fd;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.adr {
  font-style: normal;
}
.contact {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.contact:hover,
.contact:focus {
  color: #404bbf;
}
.link:active {
  color: #404bbf;
  text-decoration: underline;
}
.link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.link:hover,
.link:focus {
  color: #404bbf;
}
.order_h {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}
.head_3 {
  color: #2e2f42;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-size: 20px;
}
.paragraf {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.head_2 {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.ord_serv {
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.ord_serv:hover,
.ord_serv:focus {
  background-color: #404bbf;
}
.order {
  background-color: #2e2f42;
  color: #ffffff;
}
.team {
  background-color: #f4f4fd;
}
.foot {
  background-color: #2e2f42;
  color: #f4f4fd;
}
.foot_par {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
